<div class="container">
  <div class="row justify-content-center form-join-meeting">
    <div class="col-lg-10">
      <div class="card">
        <form class="needs-validation" [ngClass]="{'disabled': showJitsiClientComponent}" (ngSubmit)="onSubmit()" [formGroup]="connectForm">
          <div class="card-body">
            <h4 class="card-title">Join a meeting via Jitsi</h4>

            <div class="row input-meeting">
              <div class="col">
                <input
                  class="form-control"
                  [ngClass]="{'is-invalid': connectFormControl?.['meetingRoom'].touched && connectFormControl?.['meetingRoom'].errors?.['required']}"
                  formControlName="meetingRoom"
                  placeholder="Room"
                  type="text">

                <span
                  *ngIf="connectFormControl?.['meetingRoom'].touched && connectFormControl?.['meetingRoom'].errors?.['required']"
                  class="text-danger position-absolute">
                  Room name is required
                </span>
              </div>

              <div class="col">
                <input
                  class="form-control"
                  [ngClass]="{'is-invalid': connectFormControl?.['name'].touched && connectFormControl?.['name'].errors?.['required']}"
                  formControlName="name"
                  placeholder="Name"
                  type="text">

                <span *ngIf="connectFormControl?.['name'].touched && connectFormControl?.['name'].errors?.['required']"
                      class="text-danger position-absolute">
                  Name is required
                </span>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-10">
                <button [disabled]="isConnectFormInvalid" class="btn btn-primary btn-meeting-submit" type="submit">
                  Connect
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="showJitsiClientComponent">
    <app-jitsi-api-client></app-jitsi-api-client>
  </div>
</div>

