.jitsi-container {
  padding-bottom: 20pt;

  .control-btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .btn-get-room-information {
    float: right;
  }

  .participants-card {
    height: 350px;
  }
}
