<div class="row justify-content-center jitsi-container">
  <div class="col-lg-10">
    <div class="card">
      <div class="card-body">
        <div id="jitsi-iframe"></div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center jitsi-container">
  <div class="col-lg-10">
    <div class="card">
      <div class="card-body control-btn-group">
        <div class="btn-group" role="group">
          control
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center jitsi-container">
  <div class="col-lg-10">
    <div class="card participants-card">
      <div class="card-body">
        participants-card
      </div>
    </div>
  </div>
</div>
