<div class="row justify-content-center jitsi-container">
  <div class="col-lg-10">
    <div class="card">
      <div class="card-body">
        <div id="jitsi-iframe"></div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center jitsi-container">
  <div class="col-lg-10">
    <div class="card">
      <div class="card-body control-btn-group">
        <div aria-label="Basic mixed styles example" class="btn-group" role="group">
          <button
            (click)="onToggleMic()"
            [ngClass]="isAudioMuted ? 'btn-danger' : 'btn-outline-secondary'"
            class="btn" type="button">
            {{ isAudioMuted ? 'Unmute' : 'Mute' }}
          </button>

          <button
            (click)="onToggleCamera()"
            [ngClass]="isVideoMuted ? 'btn-danger' : 'btn-outline-secondary'"
            class="btn"
            type="button">
            {{ isVideoMuted ? 'Camera ON' : 'Camera OFF' }}
          </button>

          <button (click)="onMuteEveryone()" class="btn btn-outline-secondary" type="button">Mute Everyone</button>
          <button (click)="onShareScreen()" class="btn btn-outline-secondary" type="button">Share screen</button>
          <button (click)="onEndCall()" class="btn  btn-danger" type="button">End Call</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center jitsi-container">
  <div class="col-lg-10">
    <div class="card participants-card">
      <div class="card-body">
        <button (click)="onGetRoomInformation()" class="btn btn-primary btn-get-room-information">Get Room Information</button>

        <ng-container *ngIf="roomInfo">
          <table class="table">
            <thead>
            <tr>
              <th>Participant</th>
              <th>Role</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let participant of roomInfo?.rooms[0]?.participants ?? []">
              <td>{{ participant.displayName }}</td>
              <td>{{ participant.role }}</td>
            </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>
